@use "./constants.scss";

.my-avatar {
  width: 48px;
  aspect-ratio: 1;
  border-radius: constants.$border_radius;
  background-color: constants.$bg_secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  color: constants.$main_color;
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;

  .fa-gear {
    display: none;
  }

  &.editable {
    width: 96px;

    &:hover {
      cursor: pointer;

      .letter {
        display: none;
      }

      .fa-gear {
        display: inline-block;
      }
    }
  }
}
