@use "./constants";

.my-button {
  background-color: constants.$main-color;
  padding: constants.$padding;
  border-radius: constants.$border-radius;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: constants.$hover-color;
  }
}
