@use "./constants.scss";

.chat-item {
  display: flex;
  border-radius: 20px;
  background-color: constants.$main_color;
  padding: constants.$padding;
  border-radius: constants.$border_radius;

  .chat-info {
    flex: 1;
    min-width: 0;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .chat-name {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .chat-time {
    font-size: 12px;
    color: constants.$secondary_text_color;
  }

  .chat-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .last-message {
    font-size: 14px;
    color: constants.$secondary_text_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
  }

  .badge {
    background-color: constants.$bg_thirst;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    min-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
  }

  + .chat-item {
    margin-top: 2px;
  }

  &:hover {
    cursor: pointer;
    background-color: constants.$hover_color;
  }
}
