$main-bg-color: #eceef0;
$main-color: #fff;
$hover-color: #f5f5f5;
$secondary-text-color: #707579;
$bg-secondary: #aff0a5;
$bg-thirst: #add8e6;
$padding: 12px;
$border-radius: 12px;
$gap: 12px;
$gap-x2: 24px;
