@use "./constants";

.forms-page {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  .forms-container {
    display: flex;
    flex-direction: column;
    gap: constants.$gap-x2;
    width: 400px;

    .my-form {
      display: flex;
      flex-direction: column;
      gap: constants.$gap;
    }
  }
}
