@use "./constants";

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .my-input {
    background-color: constants.$main-color;
    padding: constants.$padding;
    border-radius: constants.$border-radius;
  }
}
