@use "./constants.scss";

.message-item {
  max-width: 65%;
  padding: 8px 12px;
  border-radius: 8px;

  .message-time {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: end;
    color: constants.$secondary_text_color;
  }

  &.incoming {
    background-color: constants.$bg_secondary;
    border-top-left-radius: 0;
    align-self: flex-start;
  }

  &.outgoing {
    background-color: constants.$bg_thirst;
    border-top-right-radius: 0;
    align-self: flex-end;
    margin-left: auto;
  }
}
