* {
  box-sizing: border-box;
}

p,
button,
ul,
ol,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  text-indent: 0;
  list-style-type: none;
}

button,
input {
  border: initial;
  outline: initial;
}
