<div class="chats-page">
  <aside class="sidebar">
    <section class="chat-list">
      {{#each chatItems}}
        {{> 
          ChatItem
            chatName=this.chatName
            chatTime=this.chatTime
            chatMessage=this.chatMessage
            unreadCount=this.unreadCount
        }}
      {{/each}}
    </section>

    <nav class="sidebar-nav">
      {{> Button text="Профиль" icon="fa-user" id="profile" }}
    </nav>
  </aside>

  <main class="chat-area">
    <section class="chat-messages">
      {{#each messageItems}}
        {{> 
          MessageItem
            text=this.text
            time=this.time
            isIncoming=this.isIncoming
        }}
      {{/each}}
    </section>

    <form class="input-container">
      {{> Button icon="fa-paperclip" }}
      {{> Input name="message" placeholder="Введите сообщение..."}}
      {{> Button icon="fa-paper-plane" type="submit" }}
    </form>
  </main>
</div>
