<main class="forms-page profile-page">
  <div class="forms-container">
    {{> Avatar letter="Н" editable=true }}

    <section class="my_form">
      {{> ProfileRow title="Почта" value="test@test.ru"}}
      {{> ProfileRow title="Логин" value="nick_nick"}}
      {{> ProfileRow title="Имя" value="Николай"}}
      {{> ProfileRow title="Фамилия" value="Николаев"}}
      {{> ProfileRow title="Имя в чате" value="nick"}}
      {{> ProfileRow title="Телефон" value="+7 928 999 99 99"}}
    </section>

    <nav>
      {{> Link id="change-profile" text="Изменить профиль"}}
      {{> Link id="change-password" text="Изменить пароль"}}
      {{> Link id="logout" text="Выйти"}}
    </nav>
  </div>
  {{> Link id="go-to-chats" text="К чатам"}}
</main>
