.chat-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    width: 360px;

    .title-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    
        .controls {
            align-items: center;
            display: flex;
            gap: 8px;
        }
    }
}

