<main class="error-page">
  <section class="error-wrapper">
    {{!-- <h1 class="error-code">{{code}}</h1>
    <p class="helper-text">{{text}}</p> --}}
    <h1 class="error-code">code</h1>
    <p class="helper-text">text</p>
    {{{homeLink}}}
  </section>
</main>
