<main class="forms-page profile-page">
  <div class="forms-container">
    {{> Avatar letter="Н" editable=true }}

    <form class="my_form">
      {{>Input name="oldPassword" label="Старый пароль" type="password"}}
      {{>Input name="newPassword" label="Новый пароль" type="password"}}
      {{>Input name="newPasswordRepeat" label="Повторите новый пароль" type="password"}}

      {{>Button text="Сохранить" id="save-password" type="submit"}}
    </form>
  </div>
  {{> Link id="go-to-chats" text="К чатам"}}
</main>
