<main class="forms-page profile-page">
  <div class="forms-container">
    {{> Avatar letter="Н" editable=true }}

    <form class="my_form">
      {{>Input name="old-password" label="Старый пароль" type="password"}}
      {{>Input name="new-password" label="Новый пароль" type="password"}}
      {{>Input name="new-password-repeat" label="Повторите новый пароль" type="password"}}

      {{>Button text="Сохранить" id="save-password"}}
    </form>
  </div>
  {{> Link id="go-to-chats" text="К чатам"}}
</main>