@use "../../styles/constants";

.my-avatar {
  align-items: center;
  aspect-ratio: 1;
  background-color: constants.$bg-secondary;
  border-radius: constants.$border-radius;
  color: constants.$main-color;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  margin-right: 15px;
  overflow: hidden;
  width: 48px;

  &.editable {
    margin-right: initial;
    position: relative;
    width: 96px;

    .preview-image {
      display: none;
      height: 100%;
      object-fit: cover;
      position: absolute;
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
