<span class="letter">
  {{letter}}
</span>
{{#if editable}}
  {{#if avatar}}
    <img class="preview-image" src="{{src}}" />
  {{/if}}
  <input type="file" accept="image/*" hidden name="avatar" id="avatar-uploader-input" />
{{/if}}
