@use "./styles/reset";
@use "./styles/constants";

body {
  background-color: constants.$main-bg-color;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  margin: initial;
  min-height: 100vh;
  padding: initial;

  #app {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
