<main class="forms-page">
  <div class="forms-container">
    <header>
      <h1 class="form-title">{{title}}</h1>
    </header>
    <form class="my-form">
      {{>Input name="login" label="Логин"}}
      {{>Input name="password" label="Пароль" type="password"}}

      {{>Button text="Вход" id="sign-in" type="submit"}}
    </form>
    <footer>
      {{> Link id="sign-up" text="Регистрация"}}
    </footer>
  </div>
</main>
