<div class="forms-container">
  <header>
    <h1 class="form-title">Вход</h1>
  </header>
  <form class="my-form">
    {{{loginField}}}
    {{{passwordField}}}
    {{{signInButton}}}
  </form>
  <footer>
    {{{registrationLink}}}
  </footer>
</div>