@use "../../styles/constants";

.message-item {
  border-radius: 8px;
  max-width: 65%;
  min-width: 280px;
  padding: 8px 12px;

  .message-time {
    color: constants.$secondary-text-color;
    display: block;
    font-size: 12px;
    text-align: end;
    width: 100%;
  }

  &.incoming {
    align-self: flex-start;
    background-color: constants.$bg-secondary;
    border-top-left-radius: 0;
  }

  &.outgoing {
    align-self: flex-end;
    background-color: constants.$bg-thirst;
    border-top-right-radius: 0;
    margin-left: auto;
  }
}
